<!DOCTYPE html>
<html>
<head>
    <title>Layout</title>
</head>
<body>
    <a asp-controller="Home" asp-action="Index">Home Index</a> ||
    <a asp-controller="Employee" asp-action="ShowAll">Show All Employees</a> ||
    <a asp-controller="Employee" asp-action="Create">Create</a> ||
    <a asp-controller="Employee" asp-action="EnumPage">Enum Page</a> ||
    @RenderBody()
</body>
</html>