@using EmployeeAndCompanyMVC.ViewModels;
@using EmployeeAndCompanyMVC.Models;
@model EmployeeAndCompanyMVC.ViewModels.EmployeeCompanyViewModel;

<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
    <h2>Create New Employee</h2>

    <form asp-controller="Employee" asp-action="Create" method="post">
        <label name="Name"></label>
        <input type="text" name="Name" value="" />
        <br />

        <label name="Age"></label>
        <input type="number" name="Age" value="" />
        <br />

        <label name="WorkType"></label>
        <select name="WorkType" asp-items="Html.GetEnumSelectList<WorkType>()">
            <option></option>
        </select>
        <br />

        <label name="companyName"></label>
        <select name="companyName">
            @foreach (Company company in Model.CompanyViewModel)
            {
                <option value="@company.Name">@company.Name</option>
            }
        </select>
        <br />

        <input type="submit" value="Создать" />

    </form>
</body>
</html>
