@model IEnumerable<Employee>;

<!DOCTYPE html>
<html>
<head>
    <title>ShowAll</title>
</head>
<body>
    <h2>Show All Employees</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Work Type</th>
            <th>Job</th>
        </tr>
        @foreach (var employee in Model)
        {
            <td>@employee.Name</td>
            <td>@employee.Age</td>
            <td>@employee.WorkType</td>
            <td>@employee.Job.Name</td>
        }
    </table>
</body>
</html>